<!DOCTYPE html>
<html>
    <head>
    <title>Films</title>
    <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body>
    <h1>Films</h1>

    <ul>
    {% for film in films %}
        <li>{{ film.title }} - {{ film.director}}</li>
    {% endfor %}
    </ul>
    <form method="POST" action="/films">

    <input type="text"
        name="title"
        placeholder="Title">

    <input type="text"
        name="director"
        placeholder="Director">

    <input type="text"
        name="release_year"
        placeholder="Release Year">

    <input type="submit"
        value="Submit">

    </form>
    </body>
</html> 
